<ion-view view-title="EXPLORE" ng-controller="exploreController">
  <ion-content>
    <div class="card gamecards" ng-repeat="game in games">
      <div ng-controller="gamesController" class="item item-text-wrap item-divider">
        <div class="left-player">
          <div><img class="players" src="/img/players/red-players.png"></img></div>
          <br>
          <span>{{ game.players.one }}</span>
        </div>
        <div class="right-player">
          <div><img class="players" src="/img/players/{{ getIcons(game.players.three, 'green') }}.png"></img></div>
          <br>
          <span>{{ game.players.three }}</span>
        </div>
        <div class="versus">
          <p>VS</p>
        </div>
        <div class="left-player">
          <div><img class="players" src="/img/players/{{ getIcons(game.players.two, 'red') }}.png"></img></div>
          <br>
          <span>{{ game.players.two }}</span>
        </div>
        <div class="right-player">
          <div><img class="players" src="/img/players/{{ getIcons(game.players.four, 'green') }}.png"></img></div>
          <br>
          <span>{{ game.players.four }}</span>
        </div>
      </div>
      <div class="item item-text-wrap">
        {{ game.desc }}
      </div>
    </div>
  </ion-content>
</ion-view>
