<ion-view view-title="EXPLORE" ng-controller="exploreController">
  <ion-content>
    <div id="spinner" data-tap-disabled="true" ng-hide="hide">
        <ion-spinner icon="spiral" class="loading"></ion-spinner>
    </div>
    <div class="card gamecards" ng-repeat="game in games">
      <div ng-controller="gamesController" class="item item-text-wrap item-divider">
        <radcup-players></radcup-players>
      </div>
      <div class="item item-text-wrap">
        {{ game.desc }}
      </div>
    </div>
  </ion-content>
</ion-view>
