<ion-view view-title="GAME" ng-controller="gameOverviewController">
  <ion-content>
    <div class='game-meta-information'>
      <br>
      <p>
        {{ street }}<br>
        {{ city }}<br>
        {{ country }}
      </p>
      <hr>
      <p>
        {{ date }}<br>
        {{ daytime }}
      </p>
    </div>
    <div ng-controller="gamesController" class="gamecards item item-gameoverview">
      <div class="left-player">
        <div><img class="players" ng-src="/img/players/red-players.png"></img></div>
        <br>
        <span>{{ game.players.one }}</span>
      </div>
      <div class="right-player">
        <div><img class="players" ng-src="/img/players/{{ getIcons(game.players.three, 'green') }}.png"></img></div>
        <br>
        <span>{{ game.players.three }}</span>
      </div>
      <div class="versus versus-in-gameoverview">
        <p>VS</p>
      </div>
      <div class="left-player">
        <div><img class="players" ng-src="/img/players/{{ getIcons(game.players.two, 'red') }}.png"></img></div>
        <br>
        <span>{{ game.players.two }}</span>
      </div>
      <div class="right-player">
        <div><img class="players" ng-src="/img/players/{{ getIcons(game.players.four, 'green') }}.png"></img></div>
        <br>
        <span>{{ game.players.four }}</span>
      </div>
    </div>

    <div class="list" ng-show="game.state==='started'||game.state==='finished'">
      <p>
        Results:
      </p>
      <label class="item">
        <span class="input-label">Winner</span>
        <ion-radio ng-disabled="game.state!='started'||game.players.one!=user.username" ng-model="game.results.winner" ng-value="'Blue'">Blue</ion-radio>
        <ion-radio ng-disabled="game.state!='started'||game.players.one!=user.username" ng-model="game.results.winner" ng-value="'Red'">Red</ion-radio>
        <ion-radio ng-disabled="game.state!='started'||game.players.one!=user.username" ng-model="game.results.winner" ng-value="'Draw'">Draw!</ion-radio>
      </label>
      <label class="item item-input">
        <span class="input-label">Cups left</span>
        <input type="number" ng-disabled="game.state!='started'||game.players.one!=user.username" ng-model="game.results.loserCupsLeft">
      </label>
      <label class="item">
          <span class="input-label">StartTime</span>
        <p>{{results.startTime}}</p>
      </label>
      <label class="item">
          <span class="input-label">Endtime</span>
        <p>{{results.endTime}}</p>
      </label>
    </div>
    <button class="button button-block button-positive" ng-show="game.players.one===user.username&&game.state==='startable'&&dateDate.timeNow>timeDate.meetingPoint" ng-click="updateGame(1)" id="start">
      Start Game
    </button>
    <button class="button button-block button-positive" ng-show="game.players.one===user.username&&game.state==='started'" ng-disabled="game.results.winner==='No Winner'||game.results.loserCupsLeft>10||game.results.loserCupsLeft===null" ng-click="updateGame(2)" id="finish">
      Finish Game
    </button>
    <p ng-show="dateDate.timeNow<timeDate.meetingPoint&&game.state==='startable'">
      * The meetingpoint have to be reached to start the game
    </p>
    <div class="game-meta-information">
      <hr>
      <p>{{ game.desc }}</p>
    </div>
  </ion-content>
</ion-view>
