<ion-view view-title="Game" ng-controller="gameController">
  <ion-content>
    <div class='game-content'>
      <div >
        <p ng-model="time">
          {{time}}
        </p>
        <p ng-model="address">
          {{address}}
        </p>
        <label class="item item-input">
          <input lass="input-label" type='text' ng-model="game.players.one" id='playerOne' readonly></input>
        </label>
        ⋅
        <label class="item item-input">
          <input lass="input-label" type='text' ng-model='game.players.two' id='playerTwo' readonly></input>
        </label>
        <button ng-if="game.players.two === 'freeSlot'" ng-click="join(2)">Play Here</button>
      </div>
      <hr>
      <p>vs</p>
      <hr>
      <label class="item item-input">
        <input lass="input-label" type='text' ng-model="game.players.three" id='playerThree' readonly></input>
      </label>
      <button ng-if="game.players.three === 'freeSlot'" ng-click="join(3)">Play Here</button>
      ⋅
      <label class="item item-input">
        <input lass="input-label" type='text' ng-model='game.players.four' id='playerFour' readonly></input>
      </label>
      <button ng-if="game.players.four === 'freeSlot'" ng-click="join(4)">Play Here</button>
      <br>
      <button class="button" ng-click="showConfirm()">Join Game</button>
    </div>
  </ion-content>
</ion-view>
