<ion-view view-title="GAME" ng-controller="gameOverviewController">
  <ion-content>
    <radcup-location street="street"></radcup-location>
    <div ng-controller="gamesController" class="gamecards item item-gameoverview">
      <radcup-players></radcup-players>
      <!-- <div class="left-player">
        <div>
          <img class="players" ng-src="/img/players/red-players.png"/>
        </div>
        <br>
        <span>{{ game.players.one }}</span>
      </div>
      <div class="right-player">
        <div>
          <img class="players" ng-src="/img/players/{{ getIcons(game.players.three, 'green') }}.png"/>
        </div>
        <br>
        <span>{{ game.players.three }}</span>
      </div>
      <div class="versus versus-in-gameoverview">
        <p>VS</p>
      </div>
      <div class="left-player">
        <div>
          <img class="players" ng-src="/img/players/{{ getIcons(game.players.two, 'red') }}.png"/>
        </div>
        <br>
        <span>{{ game.players.two }}</span>
      </div>
      <div class="right-player">
        <div>
          <img class="players" ng-src="/img/players/{{ getIcons(game.players.four, 'green') }}.png"/>
        </div>
        <br>
        <span>{{ game.players.four }}</span>
      </div> -->
    </div>
    <div class='inputs game-meta-information gameoverview-meta-information' ng-show="game.state==='started'||game.state==='finished'">
      <p>WINNER</p>
      <br>
      <ion-radio class="checkbox-winner"
          ng-disabled="game.state!='started'||game.players.one!=user.username"
          ng-model="game.results.winner"
          ng-value="'Green'">
        <br>
        GREEN
      </ion-radio>
      <ion-radio class="checkbox-winner"
          ng-disabled="game.state!='started'||game.players.one!=user.username"
          ng-model="game.results.winner"
          ng-value="'Red'">
        <br>
        RED
      </ion-radio>
      <ion-radio class="checkbox-winner"
          ng-disabled="game.state!='started'||game.players.one!=user.username"
          ng-model="game.results.winner"
          ng-value="'Draw'">
        <br>
        DRAW
      </ion-radio>
      <br>
      <br>
      <label class="item-input">
        <span class="input-label">CUPS LEFT:</span>
        <input type="number" ng-disabled="game.state!='started'||game.players.one!=user.username" ng-model="game.results.loserCupsLeft">
      </label>
      <br>
      <hr>
      <label>
        <span>START TIME</span>
        <p>{{ results.startTime }}</p>
      </label>
      <hr>
      <label>
        <span>END TIME</span>
        <p>{{ results.endTime }}</p>
      </label>
    </div>
    <p class="startinfo" ng-show="dateDate.timeNow<timeDate.meetingPoint&&game.state==='startable'">
      The meetingpoint has <br> to be reached to start the game
    </p>
    <radcup-description game="game"></radcup-description>
    <radcup-button outline="true"
        ng-show="game.players.one===user.username&&game.state==='startable'&&dateDate.timeNow>timeDate.meetingPoint"
        ng-click="updateGame(1)"
        id="start">
      START GAME
    </radcup-button>
    <radcup-button outline="true"
        ng-show="game.players.one===user.username&&game.state==='started'"
        ng-disabled="game.results.winner==='No Winner'||game.results.loserCupsLeft>10||game.results.loserCupsLeft===null"
        ng-click="updateGame(2)" id="finish">
      GAME FINISHED
    </radcup-button>
  </ion-content>
</ion-view>
