<ion-view view-title="Radcup">
  <ion-slide-box auto-play="true" does-continue="true" class="landingimage">
      <ion-slide>
          <img class="landingimage" src="img/logo.png">
      </ion-slide>
      <ion-slide>
          <img class="landingimage" src="img/slide1.jpg">
      </ion-slide>
      <ion-slide>
          <img class="landingimage" src="img/slide2.jpeg">
      </ion-slide>
  </ion-slide-box>
  <div class="button-bar" id="padding">
    <a class="button" href="#/login">Login</a>
    <a class="button" href="#/register">Register</a>
    <a class="button" href="#/explore">Explore</a>
  </div>

</ion-view>
