<ion-view view-title="RADCUP">
  <ion-slide-box auto-play="true" does-continue="true" class="sliders">
      <ion-slide>
        <h1>First Slide</h1>
      </ion-slide>
      <ion-slide>
        <h1>Second Slide</h1>
      </ion-slide>
      <ion-slide>
        <h1>Third Slide</h1>
      </ion-slide>
  </ion-slide-box>
  <div class="button-bar">
    <a class="button button-outline button-assertive" href="#/login">LOGIN</a>
    <a class="button button-outline button-assertive" href="#/register">REGISTER</a>
    <a class="button button-outline button-assertive" href="#/explore">EXPLORE</a>
  </div>
  <!-- <div class="landing-buttons">
    <a class="login-button landing-button" href="#/login"></a>
    <a class="register-button landing-button" href="#/register"></a>
    <a class="explore-button landing-button" href="#/explore"></a>
  </div> -->
</ion-view>
