<ion-view view-title="STATS" ng-controller="statisticsController">
    <ion-content>
      <div id="spinner" data-tap-disabled="true" ng-hide="hide">
          <ion-spinner icon="spiral" class="loading"></ion-spinner>
      </div>
        <br/>
        <div class="card" ng-hide="!hide">
            <div class="item item-text-wrap">
                Won: {{won}}
            </div>
        </div>
        <div class="card">
            <div class="item item-text-wrap">
                Lost: {{lost}}
            </div>
        </div>
        <div class="card">
            <div class="item item-text-wrap">
                Draw: {{draw}}
            </div>
        </div>
    </ion-content>
</ion-view>
