<ion-view view-title="Settings" ng-controller="settingController">

  <ion-content class="padding" novalidate>
    <p class="error" ng-model="settings.error" type=text> {{settings.error}}</p>
  <form class="list" name="settingForm" ng-submit="updateSettingForm()" novalidate>

    <div class="row responsive-sm">
      <div class="col">Update your credentials:</div>
    </div>
    <div class="list">
<!-- Username soll nicht geupadted werden da dieser uniq ist. <label class="item item-input item-floating-label">
    <span class="input-label">new username: </span>
    <input type="text" name="username" ng-model="settings.username" placeholder="Old username: {{oldUsername}}" ng-minlength="5">
  </label>-->
  <label class="item item-input item-floating-label">
    <span class="input-label">new email: </span>
    <input type="email" name="email" ng-model="settings.email" placeholder="Old email: {{oldEmail}}" ng-minlength="5" >
  </label>
  <label class="item item-input item-floating-label">
    <span class="input-label">new password: </span>
    <input type="password" name="password" ng-model="settings.password" placeholder="Old password (non hash): {{oldPassword}}" ng-minlength="3">
  </label>
  <button type="submit" ng-disabled="settingForm.$invalid" class="button button-block button-positive">Update!</button>
</button>
</label>
</div>
<div class="padding">
<!--  <p ng-show="settingForm.username.$error.minlength">* username must be longer than 5 characters</p> -->
  <p ng-show="settingForm.email.$invalid && !settingForm.email.$pristine">* Emailfield must be an email address</p>
  <p ng-show="settingForm.email.$error.minlength">* Email must be longer than 5 characters</p>
  <p ng-show="settingForm.password.$error.minlength">* Password must be longer than 3 characters</p>
</div>
  </ion-content>
</ion-view>
