<ion-view>
  <ion-tabs class="tabs-striped tabs-top tabs-color-assertive tabs-color-light">
    <ion-tab icon-on="ion-beer" icon-off="ion-beer_off" ui-sref="main.games">
      <ion-nav-view name="main-games"></ion-nav-view>
    </ion-tab>
    <ion-tab icon-on="ion-branch" icon-off="ion-branch_off" ui-sref="main.myGames">
      <ion-nav-view name="main-myGames"></ion-nav-view>
    </ion-tab>
    <ion-tab icon-on="ion-rules" icon-off="ion-rules_off" ui-sref="main.rules">
      <ion-nav-view name="main-rules"></ion-nav-view>
    </ion-tab>
    <ion-tab icon-on="ion-settings" icon-off="ion-settings_off" ui-sref="main.settings">
      <ion-nav-view name="main-settings"></ion-nav-view>
    </ion-tab>
    <ion-tab icon="ion-stats-bars" href="#/main/statistics">
      <ion-nav-view name="main-statistics"></ion-nav-view>
    </ion-tab>
  </ion-tabs>
</ion-view>
