<ion-view view-title="GAMES" ng-controller="gamesController">
  <ion-content class="padding">
    <a class="button button-new-game button-block button-outline button-assertive" href="#/newGame">NEW GAME</a>
    <div class="card gamecards" ng-repeat="game in games" ng-show="game.state===undefined">
      <div class="item item-text-wrap item-divider">
        <radcup-players></radcup-players>
        <!-- <div class="left-player">
          <div><img class="players" ng-src="/img/players/red-players.png"></img></div>
          <br>
          <span>{{ game.players.one }}</span>
        </div>
        <div class="right-player">
          <div><img class="players" ng-src="/img/players/{{ getIcons(game.players.three, 'green') }}.png"></img></div>
          <br>
          <span>{{ game.players.three }}</span>
        </div>
        <div class="versus">
          <p>VS</p>
        </div>
        <div class="left-player">
          <div><img class="players" ng-src="/img/players/{{ getIcons(game.players.two, 'red') }}.png"></img></div>
          <br>
          <span>{{ game.players.two }}</span>
        </div>
        <div class="right-player">
          <div><img class="players" ng-src="/img/players/{{ getIcons(game.players.four, 'green') }}.png"></img></div>
          <br>
          <span>{{ game.players.four }}</span>
        </div> -->
      </div>
      <div class="item item-text-wrap description">
        {{ game.desc }}
      </div>
      <div class="join-game item">
        <a ui-sref='getGame({id:game._id})' class="button button-outline button-light">JOIN GAME</a>
      </div>
    </div>
  </ion-content>
</ion-view>
