<ion-view view-title="Games" ng-controller="myGamesController">
  <ion-content>
    <div class="card gamecards" ng-repeat="game in games">
      <div class="item item-text-wrap">
        <div class="item">
          <span>{{ game.host }} ⋅ {{ game.teamRed.playerTwo }}</span>
          <hr>
          <p>vs</p>
          <hr>
          <span>{{ game.teamBlue.playerOne }} ⋅ {{ game.teamBlue.playerTwo }}</span>
        </div>
      </div>
    <div class="item item-divider">
      {{ game.desc }}
    </div>
  </ion-content>
</ion-view>
