<ion-view view-title="Games" ng-controller="myGamesController">
  <ion-content>
    <div class="card gamecards" ng-repeat="game in games">
      <div class="item item-text-wrap">
        <div class="item" ng-controller="gamesController">
          <span>{{ game.players.one }}</span>
          ⋅
          <span>{{ game.players.two }}</span>
          <hr>
          <p>vs</p>
          <hr>
          <span>{{ game.players.three }}</span>
          ⋅
          <span>{{ game.players.four }}</span>
        </div>
      </div>
    <div class="item item-divider">
      {{ game.desc }}
    </div>
    <div class="item item-divider" ng-show="game.state!=undefined">
      {{ game.state }}
    </div>
    <div class="join-game item">
      <a ui-sref='gameOverview({id:game._id})'  class="button button-outline button-light ion-chevron-right">
        Details
      </a>
    </div>
  </ion-content>
</ion-view>
