<ion-view view-title="MY GAMES" ng-controller="myGamesController">
  <ion-content>
    <div class="card gamecards" ng-repeat="game in games">
      <div class="item item-text-wrap">
        <div class="item" ng-controller="gamesController">
          <span>{{ game.players.one }}</span>
          ⋅
          <span>{{ game.players.two }}</span>
          <hr>
          <p>vs</p>
          <hr>
          <span>{{ game.players.three }}</span>
          ⋅
          <span>{{ game.players.four }}</span>
        </div>
      </div>
    <div class="item item-divider">
      {{ game.desc }}
    </div>
  </ion-content>
</ion-view>
