<ion-view view-title="New Game" ng-controller="newGameController">
  <ion-content class="padding">
    <div class="list">
      <label class="item item-input">
        <span class="input-label">id</span>
        <input type="text" ng-model="game._id">
      </label>
      <label class="item item-input">
        <span class="input-label">Address</span>
        <input type="text" ng-model="game.adress">
      </label>
    </div>
    <a class="button button-block button-positive" ui-sref="map">Start Map</a>
    <a class="button button-block button-positive" ng-click="createGame()">Create Game</a>
  </ion-content>
</ion-view>
