<ion-view view-title="New Game" ng-controller="newGameController">
  <ion-content class="padding">
    <div class="list" ng-init="init()">
      <label class="item item-input">
        <span class="input-label">Description</span>
        <input type="text" ng-model="game.desc">
      </label>
      <label class="item item-input">
        <span class="input-label">Meeting Point</span>
        <input type="datetime-local" ng-model="game.time">
      </label>
    </div>
    <div class="col-50 col-offset-25">
      <a ng-disabled="game.time===undefined||game.time===null||game.time<date" class="button button-block button-assertive" ng-click="initializeGame()" href="#/map">Next</a>
    </div>
  </ion-content>
</ion-view>
