<ion-view view-title="Register" ng-controller="registerController">
  <ion-content class="padding">
   <form class="list" name="registerForm" ng-submit="submitForm()">
     <label class="item item-input">
       <span class="input-label" >Username</span>
       <input type="text" ng-model="user.username">

     </label>
     <label class="item item-input">
       <span class="input-label" >E-Mail</span>
       <input type="text" ng-model="user.email">
     </label>
     <label class="item item-input">
       <span class="input-label" >Password</span>
       <input type="text" ng-model="user.password">
     </label>
     <button type="submit" class="button button-block button-positive">Submit</button>
   </form>
 
  </ion-content>
</ion-view>
