<ion-view view-title="RULES">
  <ion-content class='padding'>
    <div class="card">
      <div class="item rules">
        <img class="rules-icon" src="/img/rules/general.svg" alt="general-icon" />
        <br>
        <h2>GAME BASICS</h2>
      </div>
      <div class="item item-text-wrap" ng-include src="'/templates/rules/general.html'"></div>
    </div>
    <div class="card">
      <div class="item rules">
        <img class="rules-icon" src="/img/rules/process.svg" alt="process-icon" />
        <br>
        <h2>GAME PROCESS</h2>
      </div>
      <div class="item item-text-wrap" ng-include src="'/templates/rules/process.html'"></div>
    </div>
    <div class="card">
      <div class="item rules">
        <img class="rules-icon" src="/img/rules/special.svg" alt="special-icon" />
        <br>
        <h2>SPECIAL RULES</h2>
      </div>
      <div class="item item-text-wrap" ng-include src="'/templates/rules/special.html'"></div>
    </div>
  </ion-content>
</ion-view>
