<p>
  In case one team scores two times in one round, they are allowed to throw again
</p>
<hr>
<p>
  In case one team scores the same cup in one round, they can choose three cups which the other team has to drink
</p>
<hr>
<p>
  bouncer do not count as double-scroe, but can be parried from the other team
</p>
<hr>
<p>
  in case a player scores three times a row, he is on fire
  <br>
  now he is allowed to thorw till he misses
</p>
<hr>
<p style="text-align: left;">
  In case a player is holding a cup and a player from the other team throws inside it
  <br>
  the game is over and the winner is the team which scored
</p>
