.landingimage {
  padding: 10px;
  height: 90%;
  width: 100%
}

#padding {
  padding: 10px;
}

#map {
  width: 100%;
  height: 100%;
}

.scroll {
  height: 100%;
}

.loading{
  position: fixed;
  left: 50%;
  top: 50%
}

.buttonOnBottom{
  bottom: 70px;
}

.error {
 font-size: 150%;
 color: red;
}

.gamecards{
  text-align: center;
}

.join-game{
  padding: 0;
  background-color: #EF5350;
}

.join-game a{
  border: none;
  height: 100%;
  width: 100%;
}

.game-content{
  text-align: center;
}
